
.display-4{
  color: #343a40;
  text-align: center;
  margin-left: 18px;
}
.lead{
  color: #343a40;
  text-align: center;
  margin-left: 18px;
}

.title{
text-align: center;
}

.images{
text-align: center;
margin:auto;
}
