html{
    margin-bottom: 0px;
 }

#fnameu{
  border-radius: 5px;
  border: 0px solid;
}

#lnameu{
  border-radius: 5px;
  border: 0px solid;
}

#emailu{
  border-radius: 5px;
  border: 0px solid;
}

#txa{
  border-radius: 5px;
  border: 0px solid;
}
